@model IEnumerable<FrameworkTricks.Application.Models.Restaurant>

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">There are @Model.Count() restaurants in the database.</p>
</div>

<ul>
    @foreach (var restaurant in Model)
    {
        <li>@restaurant.Name</li>
    }
</ul>