@{
    ViewBag.Title = "Custom Action Results";
}

<h2 class="mb-4">Custom Action Results</h2>

<ul>
    <li>View cats as @Html.ActionLink("XML", "Xml")</li>
    <li>Download cats as @Html.ActionLink("CSV", "Csv")</li>
</ul>