@{ 
    ViewBag.Title = "Error";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <h1>Error</h1>
    <p class="lead mb-4">Unfortunately an error occurred</p>
    @Html.ActionLink("Go home", "Index", "Home", null, new { @class = "btn btn-primary" })
</body>
</html>
